NODE_ENV=
PORT=
CLIENT_URL=

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRY=
ADMIN_JWT_ACCESS_EXPIRY=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

COOKIE_SECRET=
CONFIG_ENCRYPTION_KEY=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_NAME=

TAX_PERCENTAGE=
FREE_SHIPPING_THRESHOLD=
DEFAULT_SHIPPING_CHARGE=
